@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

body {
    font-family: 'DM Mono', monospace;
}

.title-serif {
    font-family: 'DM Serif Display', serif;
}

.pie-section {
    /* The following properties are from the tailwind `transition` class */
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.pie-section:hover {
    transform: scale(0.98);
}

.pie-section:hover::after {
    opacity: 0.5;
}